$adapt: calc(1vh + 1vw);

.button {
    width: 100%;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: calc($adapt / 2.3);
    padding: calc($adapt / 1.9);
    font-size: calc($adapt / 1.8);
}

.button._disabled {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}
