$fsadapt: calc(1vh + 1vw);

.select {
    width: 100%;
    margin-bottom: calc($fsadapt / 2);
    border: calc($fsadapt / 25) solid transparent;
    background-color: #f5f5f5;
    border-radius: calc($fsadapt / 2.3);
    font-size: calc($fsadapt/ 1.8);
    padding: 0 calc($fsadapt / 1.9);
    &__option {
        &:first-child {
            color: #bbbbbb;
        }
        font-size: calc($fsadapt/ 1.8);
        margin: 20px;
        color: #000;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
