$fsadapt: calc(1vh + 1vw);

.input {
    width: 100%;
    margin-bottom: calc($fsadapt / 2);
    border: 1px solid transparent;
    background-color: #f5f5f5;
    border-radius: calc($fsadapt / 2.3);
    &__content {
        padding: calc($fsadapt / 1.9);
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__icon {
        font-size: calc($fsadapt/ 1.3);
        display: flex;
        color: #bbbbbb;
        margin-right: calc($fsadapt / 3.2);
    }
    &__item {
        width: 100%;
        border: none;
        background-color: transparent;
        font-size: calc($fsadapt / 1.8);
    }
}
input:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}
