$fsadapt: calc(1vh + 1vw);

.signup {
    width: 100%;
    height: 100%;
    position: absolute;
    &__wrapper {
        height: 100%;
        width: 100%;
    }
    &__content {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    &__logo {
        width: 60%;
        height: 100%;
        background-color: #000;
    }
    &__form {
        width: 40%;
        height: 100%;
    }
}
.form {
    &__body {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {
        width: calc($fsadapt * 14);
        padding: calc($fsadapt / 2);
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__text {
        // border: 1px solid red;
        width: 100%;
        padding-bottom: calc($fsadapt);
    }
    &__title {
        font-size: calc($fsadapt);
        font-weight: 700;
        padding-bottom: calc($fsadapt / 7);
    }
    &__subtitle {
        font-size: calc($fsadapt / 1.3);
    }
    &__registration {
        // border: 1px solid red;
        width: 100%;
    }
    &__inputs {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__login {
        font-size: calc($fsadapt / 2);
        margin-top: calc($fsadapt * 1.5);
    }
}
