$fsadapt: calc(1vh + 1vw);

.logo {
    overflow: hidden;
    font-size: calc($fsadapt / 1.1);
    position: absolute;
    z-index: 10;
    transition: transform 0.4s ease-in, width 0.4s ease-in;
    // transition: width 0.2s linear;
    // transform: translate(66.66%, 0);
    width: 60%;
    height: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    // &:hover {
    //     transition: all 2s ease-in;
    //     transform: translate(0, 0);
    // }
    &__buttons {
        margin-top: calc($fsadapt / 1);
        animation: opacity 1s linear;
    }
    // &__buton {
    //     font-size: calc($fsadapt / 2);
    //     padding: calc($fsadapt / 3) calc($fsadapt * 1.7);
    //     margin: 0 calc($fsadapt / 5);
    //     border-radius: calc($fsadapt / 2.5);
    //     background-color: #fff;
    // }
    &::before {
        content: "";
        position: absolute;
        top: calc($fsadapt * (-18));
        left: calc($fsadapt);
        width: calc($fsadapt * 25);
        height: calc($fsadapt * 25);
        border-radius: 50%;
        border: calc($fsadapt / 10) dashed #fff;
        opacity: 0.3;
        animation: circle 44s linear infinite;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: calc($fsadapt * (-12));
        right: $fsadapt;
        width: calc($fsadapt * 15);
        height: calc($fsadapt * 15);
        border-radius: 50%;
        border: calc($fsadapt / 10) dashed #fff;
        opacity: 0.3;
        animation: circle 44s linear infinite;
    }
    &__link {
        color: #fff;
        text-decoration: none;
        &:hover {
            // text-decoration: underline;
            color: rgb(142, 142, 255);
        }
    }
}

@keyframes circle {
    0% {
        rotate: (0deg);
    }
    100% {
        rotate: (360deg);
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
