$adapt: calc(1vh + 1vw);

.text {
    width: 100%;
    padding-bottom: calc($adapt);
    &__title {
        font-size: calc($adapt);
        font-weight: 700;
        padding-bottom: calc($adapt / 7);
    }
    &__subtitle {
        font-size: calc($adapt / 1.3);
    }
}
