$fsadapt: calc(1vh + 1vw);

.form {
    width: 100%;
    &__inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__subtext {
        font-size: calc($fsadapt / 1.5);
        padding-bottom: calc($fsadapt/ 3);
    }
    &__date {
        display: flex;
        flex-direction: row;
        gap: calc($fsadapt / 4);
    }
}
